.subtask_list_columns_positions {
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
}

.subtask_list_columns_positions th,
.subtask_list_columns_positions td {
  vertical-align: top;
  box-sizing: border-box;
  padding: 0;
}

.subtask_list_columns_positions #persisted_fields td {
  width: 25%;
}

.subtask_list_columns_positions th span.text,
.subtask_list_columns_positions td span.text {
  display: block;
  margin: 15px;
}

.subtask_list_columns_positions #avalible_fields th,
.subtask_list_columns_positions #avalible_fields td {
  width: 33%;
}

.subtask_list_columns_positions th {
  text-align: left;
}

.subtask_list_columns_positions tr:hover {
  background: #eee;
}

.subtask_list_columns_positions td {
  border-top: 1px solid #ccc;
}

.subtask_list_columns_positions .td-button {
  padding: 7px 15px;
}

.subtask_list_columns_positions .button {
  display: inline;
  height: 32px;
  padding: 0 11px 3px 11px;
  border-radius: 3px;
  background: #bbb;
  font-size: 160%;
  text-align: center;
  cursor: move;
}

.subtask_list_columns_positions .add-column {
  padding: 14px 12px;
}

.subtask_list_columns_positions .add-column-botton {
  display: inline;
  height: 32px;
  margin: 12px 0 0 0;
  padding: 3px 11px 4px 11px;
  border-radius: 3px;
  color: #fff;
  background: #2996cc;
  text-align: center;
  cursor: pointer;
}

.subtask_list_columns_positions .loader {
  padding: 10px 11px 0 11px;
}

.subtask_list_columns_positions .loader img {
  display: none;
}

.subtask_list_columns_positions .delete-column {
  padding: 14px 12px;
}

.subtask_list_columns_positions .delete-column-botton {
  display: inline;
  height: 32px;
  margin: 12px 0 0 0;
  padding: 3px 11px 4px 11px;
  border-radius: 3px;
  color: #fff;
  background: red;
  text-align: center;
  cursor: pointer;
}

.ui-sortable-helper {
  display: table;
}

.subtask_list_columns_submit {
  margin: 10px 0 15px 0;
}
